<div id="<%= dom_id vente %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Produit:</strong>
    <%= vente.produit_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client:</strong>
    <%= vente.client_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prix vendu:</strong>
    <%= vente.prix_vendu %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date vente:</strong>
    <%= vente.date_vente %>
  </div>
</div>
