<div id="<%= dom_id fournisseur %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= fournisseur.nom %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= fournisseur.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telephone:</strong>
    <%= fournisseur.telephone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Adresse:</strong>
    <%= fournisseur.adresse %>
  </div>
</div>
