  <div class="p-4 border-t">
    <h2 class="text-xl font-bold mb-2">Détails du fournisseur</h2>
    
    <p><strong>Nom :</strong> <%= @fournisseur.nom %></p>
    <p><strong>Email :</strong> <%= @fournisseur.email %></p>
    <p><strong>Téléphone :</strong> <%= @fournisseur.telephone %></p>
    <p><strong>Adresse :</strong> <%= @fournisseur.adresse %></p>
    <p><strong>Type de Fournisseur :</strong> <%= @fournisseur.type_fournisseur %></p>
    
    <div class="mt-6">
      <%= link_to "Modifier", edit_fournisseur_path(@fournisseur), class: "text-yellow-500 hover:underline" %> |
      <%= link_to "Retour", fournisseurs_path, class: "text-blue-500 hover:underline" %>
    </div>
  </div>

