<!DOCTYPE html>
<html>
<head>
  <title>Boutique</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100 text-gray-900">

  <nav class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Boutique</h1>
      <ul class="flex space-x-4">
        <li><a href="<%= root_path %>" class="hover:underline">Accueil</a></li>
        <li><a href="<%= clients_path %>" class="hover:underline">Clients</a></li>
        <li><a href="<%= produits_path %>" class="hover:underline">Produits</a></li>
        <li><a href="<%= ventes_path %>" class="hover:underline">Ventes</a></li>
        <li><a href="<%= fournisseurs_path %>" class="hover:underline">Fournisseurs</a></li>
      </ul>
    </div>
  </nav>

  <div class="max-w-7xl mx-auto p-6">
    <%= yield %>
  </div>

</body>
</html>

